REACT_APP_SUPABASE_URL=https://kynylazjxmndqdzjmrnv.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5bnlsYXpqeG1uZHFkemptcm52Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2NzY3MDYsImV4cCI6MjA4ODI1MjcwNn0.qxgbJcV1IpYdVJ1Pi3MHKWN-CQwyO3_mVbTWhrfRMAs
